.preview {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 50px auto 0;
}
.preview .content {
  width: 520px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preview .content .textPlatform {
  font: 700 16px "Montserrat";
  color: #2B788B;
}
.preview .content h1 {
  color: #000000;
  font: 400 56px "Dela Gothic One";
}
.preview .content .textAdditional {
  font: 600 18px "Montserrat";
  color: #757575;
}
.preview .content .btn {
  border-radius: 100px;
  color: #2B788B;
  background-color: #C3DCE3;
  padding: 14px 22px;
  width: 165px;
  text-align: center;
  cursor: pointer;
}
.preview .content .statistic {
  width: 175px;
}
.preview .content .statistic .studentsCount {
  font: 400 40px "Dela Gothic One";
}
.preview .content .statistic .studentsCount .lightning {
  display: inline-block;
  vertical-align: middle;
  background-image: url(./assets/lightning.svg);
  width: 24px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
.preview .content .statistic .studentsCount .plus {
  color: #2B788B;
}
.preview .content .statistic .studentsText {
  font: 600 15px "Dela Gothic One";
  color: #585858;
  text-align: center;
}
.preview .img {
  background-image: url(./assets/Frame\ 24.png);
  width: 933px;
  height: 601px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
}

.playing {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 120px auto 0;
}
.playing .img {
  background-image: url(./assets/image\ 8.png);
  width: 580px;
  height: 445px;
  background-repeat: no-repeat;
  background-size: contain;
}
.playing .content {
  width: 520px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.playing .content h2 {
  color: #000000;
  font: 400 48px "Dela Gothic One";
}
.playing .content p {
  font: 600 18px "Montserrat";
  color: #757575;
}
.playing .content .modals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.playing .content .modals .sprint {
  width: 85px;
  height: 84px;
  color: #945069;
  background-color: #F2D4DC;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 22px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 25px;
}
.playing .content .modals .sprint .shoes {
  background-image: url(./assets/shoes.svg);
  width: 131px;
  height: 106px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  bottom: 70px;
}
.playing .content .modals .task {
  color: #2B788B;
  background-color: #C3DCE3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 128px;
  height: 84px;
  padding: 14px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 14px;
}
.playing .content .modals .task .megaphone {
  background-image: url(./assets/megaphone.svg);
  width: 91px;
  height: 106px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  bottom: 70px;
}

.textbook {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 120px auto 0;
}
.textbook .content {
  width: 520px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}
.textbook .content h2 {
  color: #000000;
  font: 400 48px "Dela Gothic One";
}
.textbook .content p {
  font: 600 18px "Montserrat";
  color: #757575;
}
.textbook .content .btn {
  border-radius: 100px;
  color: #2B788B;
  background-color: #C3DCE3;
  padding: 14px 22px;
  width: 135px;
  text-align: center;
  cursor: pointer;
}
.textbook .img {
  background-image: url(./assets/image\ 2.png);
  width: 580px;
  height: 474px;
  background-repeat: no-repeat;
  background-size: contain;
}

.statistics {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 120px auto 0;
}
.statistics .img {
  background-image: url(./assets/image\ 1.png);
  width: 680px;
  height: 410px;
  background-repeat: no-repeat;
  background-size: contain;
}
.statistics .content {
  width: 520px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}
.statistics .content h2 {
  color: #000000;
  font: 400 48px "Dela Gothic One";
}
.statistics .content p {
  font: 600 18px "Montserrat";
  color: #757575;
}
.statistics .content .btn {
  border-radius: 100px;
  color: #2B788B;
  background-color: #C3DCE3;
  padding: 14px 22px;
  width: 135px;
  text-align: center;
  cursor: pointer;
}