.preview {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 50px auto 0;

    .content {
        width: 520px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .textPlatform {
            font: 700 16px 'Montserrat';
            color: #2B788B;
        }

        h1 {
            color: #000000;
            font: 400 56px 'Dela Gothic One';
        }

        .textAdditional {
            font: 600 18px 'Montserrat';
            color: #757575;
        }

        .btn {
            border-radius: 100px;
            background: var(--primaty-cyan-light, #C3DCE3);
            color: #2B788B;
            background-color: #C3DCE3;
            padding: 14px 22px;
            width: 165px;
            text-align: center;
        }

        .statistic {
            width: 175px;

            .studentsCount {
                font: 400 40px 'Dela Gothic One';

                .lightning {
                    display: inline-block;
                    vertical-align: middle;
                    background-image: url(./assets/lightning.svg);
                    width: 24px;
                    height: 30px;
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .plus {
                    color: #2B788B;
                }
            }

            .studentsText {
                font: 600 15px 'Dela Gothic One';
                color: #585858;
                text-align: center;
            }
        }
    }

    .img {
        background-image: url(./assets/Frame\ 24.png);
        width: 933px;
        height: 601px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
    }
}

