.content {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .navigation a {
  font: 600 14px "Montserrat";
  color: #757575;
}
.content .navigation a:not(:last-child) {
  margin-right: 30px;
}
.content .line {
  border-bottom: 1px solid #E0E0E0;
  margin-top: 20px;
}
.content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .info .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .info .logo .face {
  background-image: url(./assets/face.svg);
  width: 30px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.content .info .logo .gt {
  background-image: url(./assets/gt.svg);
  width: 30px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.content .info .logo .youtube {
  background-image: url(./assets/ut.svg);
  width: 30px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.content .info .logo .face,
.content .info .logo .gt {
  margin-right: 30px;
}
.content .info p {
  font: 600 12px "Montserrat";
  color: #757575;
}
.content .info span {
  font: 600 12px "Montserrat";
  text-decoration: underline;
}