.wrapper {
  width: 1200px;
  margin: 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
}
.wrapper .login h1 {
  color: var(--primaty-black, #000);
  font: 400 56px "Dela Gothic One";
}
.wrapper .login input {
  background: var(--primaty-grey-light, #f6f5f4);
  border: 1px solid #d1d1d1;
  border-radius: 0 12px 12px 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray-4, #ced4da);
  width: 520px;
  padding: 12px 20px;
}
.wrapper .login input::-webkit-input-placeholder {
  color: var(--gray-gray-5, #adb5bd);
  font: 400 20px "Open Sans";
}
.wrapper .login input::-moz-placeholder {
  color: var(--gray-gray-5, #adb5bd);
  font: 400 20px "Open Sans";
}
.wrapper .login input:-ms-input-placeholder {
  color: var(--gray-gray-5, #adb5bd);
  font: 400 20px "Open Sans";
}
.wrapper .login input::-ms-input-placeholder {
  color: var(--gray-gray-5, #adb5bd);
  font: 400 20px "Open Sans";
}
.wrapper .login input::placeholder {
  color: var(--gray-gray-5, #adb5bd);
  font: 400 20px "Open Sans";
}
.wrapper .btn {
  border-radius: 100px;
  background: var(--primaty-cyan-dark, #2b788b);
  width: 110px;
  padding: 15px 0;
  text-align: center;
  color: #FFF;
  font-family: 700 16px "Montserrat";
  cursor: pointer;
}
.wrapper .image {
  background-image: url(./assets/image\ 33.png);
  width: 480px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
}