$button-color: #2B788B;
$text-button: #ffff;
$main-text-color: #000000;
$shadow: #e0e0e0;
$background: #f6f5f4;

.wrapper {
    background: var(--primaty-grey-light, $background);
    box-shadow: 0px -1px 0px 0px $shadow inset;
    padding: 24px 0;

    .content {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        nav {
            display: flex;
            width: 200px;
            justify-content: space-between;
            align-items: center;

            .login {
                color: $main-text-color;
                font: 700 16px 'Montserrat';
            }

            .sign {
                border-radius: 14px;
                background: $button-color;
                width: 100px;
                padding: 13px 0;
                text-align: center;
                color: $text-button;
            }
        }
    }
}