.wrapper {
    background: var(--primaty-grey-light, #f6f5f4);
    box-shadow: 0px -1px 0px 0px #e0e0e0 inset;
    padding: 24px 0;
}

.content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.login {
    color: #000000;
    font: 700 16px 'Montserrat';
}

.sign {
    border-radius: 14px;
    background: #2B788B;
    width: 100px;
    padding: 13px 0;
    text-align: center;
    color: #ffff;
}